**/target/
.metadata/

/*features*/*/src/main/history/
maven-metadata-local.xml
dependency-reduced-pom.xml
npm-debug.log

bundles/org.openhab.ui.homebuilder/web/dist
bundles/org.openhab.ui.homebuilder/npm_cache
bundles/org.openhab.ui.homebuilder/web/node
