target/
src-gen/
xtend-gen/
bin/
.antlr*
.metadata/
*/plugin.xml_gen
.DS_Store
*.iml
.idea/
**/.settings/org.eclipse.*

dependency-reduced-pom.xml
bundles/org.openhab.core.model.*/META-INF/
features/karaf/*/src/main/history

Californium.properties

*.orig

generated/
userdata/
