# This file helps GitHub doing automatic review requests for new PRs.
# It should always list the active maintainers of the core.

# Assign all PRs to the core maintainers:
*       @openhab/core-maintainers
