<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "https://openhab.org/model/Persistence" 
       class = "org.openhab.core.model.persistence.persistence.PersistencePackage"
       genModel = "model/generated/Persistence.genmodel" /> 
	
  </extension>



</plugin>
