<!DOCTYPE html>
<html lang="${locale}">
<head>

<meta charset="utf-8" />
<meta http-equiv="refresh" content="10">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>openHAB</title>
<link type="text/css" href="fonts/icomoon.css" rel="stylesheet" media="all">
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"></link>
<link type="text/css" href="css/main.css" rel="stylesheet"></link>
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"><link>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/geolocation.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('a.link').each(function(index) {
        var href = $(this)
            .attr('href')
            .replace(/{HOST}/g, window.location.host)
            .replace(/{HOSTNAME}/g, window.location.hostname);
        $(this).attr('href', href);
    });
});
</script>

</head>

<body>
    <header>
        <div class="container">
            <img src="img/openhab-logo.png" />
        </div>
    </header>
    <section class="container">
        <h1>${index.welcome}</h1>
        <div class="line">
            <div class="decorator"></div>
            <hr />
        </div>
        ${warn}
        <div class="links row">
            ${entries}
        </div>
        <div class="line">
            <div class="geolocation">
                <div class="decorator"></div>
                <hr />
                <p>${index.location-info}</p>
                <p><span>${index.your-location} </span><span id="geolocation"></span></p>
            </div>
            <div class="decorator"></div>
            <hr />
        </div>
        ${common.getting-started}
    </section>
    <footer>
        <p>openHAB ${version}</p>
    </footer>
</body>
</html>
