<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>openHAB 2.0 - Setup</title>
<link type="text/css" href="fonts/icomoon.css" rel="stylesheet" media="all">
<link type="text/css" href="bootstrap.min.css" rel="stylesheet"></link>
<link type="text/css" href="main.css" rel="stylesheet"></link>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"><link>
</head>

<body>
    <header>
        <div class="container">
            <img src="img/openhab-logo.png" />
        </div>
    </header>
    <section class="container">
        <h1>Welcome to openHAB 2.0 - Initial Setup</h1>
        <div class="line">
            <div class="decorator"></div>
            <div>
                <p><br/>Please choose your installation type:</p>
            </div>
            <hr />
        </div>
        <div class="links row">
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=minimal'">    
                    <div class="body">
                        <div class="overlay">
                            Minimal
                        </div>
                    </div>
                    <div class="footer">
                        <p>Core runtime only</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=simple'">    
                    <div class="body">
                        <div class="overlay">
                            Simple
                        </div>
                    </div>
                    <div class="footer">
                        <p>purely UI</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=standard'">    
                    <div class="body">
                        <div class="overlay">
                            Standard
                        </div>
                    </div>
                    <div class="footer">
                        <p>Recommended setup</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=expert'">    
                    <div class="body">
                        <div class="overlay">
                            Expert
                        </div>
                    </div>
                    <div class="footer">
                        <p>Best for 1.x users</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=demo'">    
                    <div class="body">
                        <div class="overlay">
                            Demo
                        </div>
                    </div>
                    <div class="footer">
                        <p>Sample setup</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="decorator"></div>
            <hr />
        </div>
        Getting started? Please refer to the <a href="http://docs.openhab.org/">online documentation</a>.             
    </section>
    <footer>
        <p>www.openHAB.org</p>
    </footer>
</body>
</html>
