<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>openHAB - Setup</title>
<link type="text/css" href="fonts/icomoon.css" rel="stylesheet" media="all">
<link type="text/css" href="bootstrap.min.css" rel="stylesheet"></link>
<link type="text/css" href="main.css" rel="stylesheet"></link>
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"><link>
</head>

<body>
    <header>
        <div class="container">
            <img src="img/openhab-logo.png" />
        </div>
    </header>
    <section class="container">
        <h1>Welcome to openHAB 2 - Initial Setup</h1>
        <div class="line">
            <div class="decorator"></div>
            <div>
                <p><br/>openHAB comes with many different add-ons. To allow an easy start, there are four pre-defined packages available that are a good starting point.
                <br/>Check out the online documentation for a <a href="http://docs.openhab.org/configuration/packages.html" target="_blank">detailed description of those packages</a>.</p>
                <hr />
                <p><b>Please choose a package:</b></p>
            </div>
        </div>
        <div class="links row">
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=simple'">    
                    <div class="body" style="background-image: url('img/simple.jpg')">
                        <div class="overlay">
                            Simple
                        </div>
                    </div>
                    <div class="footer">
                        <p>purely UI</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=standard'">    
                    <div class="body" style="background-image: url('img/standard.jpg')">
                        <div class="overlay">
                            Standard
                        </div>
                    </div>
                    <div class="footer">
                        <p>Recommended setup</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=expert'">    
                    <div class="body" style="background-image: url('img/expert.jpg')">
                        <div class="overlay">
                            Expert
                        </div>
                    </div>
                    <div class="footer">
                        <p>Best for 1.x users</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=demo'">    
                    <div class="body" style="background-image: url('img/demo.jpg')">
                        <div class="overlay">
                            Demo
                        </div>
                    </div>
                    <div class="footer">
                        <p>Sample setup</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" onclick="location.href = 'index?type=minimal'">Skip the package selection...</a>.  
        <div class="line">
            <div class="decorator"></div>
            <hr />
        </div>
        Getting started? Please refer to the <a href="http://docs.openhab.org/" target="_blank">online documentation</a>.             
    </section>
    <footer>
        <p>openHAB <!--version--></p>
    </footer>
</body>
</html>
