<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
		http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="voice:rulehli">
		<parameter name="item" type="text" required="false">
			<context>item</context>
			<filter><criteria name="type">String</criteria></filter>
			<label>Voice Command Item</label>
			<description>The string item to pass voice commands to.</description>
			<default>VoiceCommand</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
