<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="system:addons">
		<parameter name="remote" type="boolean" required="true">
			<label>Access Remote Repository</label>
			<description>Defines whether openHAB should access the remote repository for add-on installation.</description>
			<default>true</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
