<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
    xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
        http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

    <config-description uri="system:addons">
        <parameter name="remote" type="boolean" required="true">
            <label>Access Remote Repositories</label>
            <description>Defines whether the runtime should access remote repositories for extensions.</description>
            <default>false</default>
        </parameter>
        <parameter name="legacy" type="boolean" required="true">
            <label>Include Legacy 1.x Bindings</label>
            <description>Also allows the installation of 1.x bindings for which there is already a 2.x version available (requires remote repo access).</description>
            <default>false</default>
        </parameter>
    </config-description>

</config-description:config-descriptions>
