<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "https://openhab.org/model/Rules" 
       class = "org.openhab.core.model.rule.rules.RulesPackage"
       genModel = "model/generated/Rules.genmodel" /> 
	
  </extension>




</plugin>
