<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
	http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="system:links">
		<parameter name="autoLinks" type="boolean" required="true">
			<label>Simple Mode</label>
			<description><![CDATA[
				<p>In simple mode, links and their according items are automatically created for new Things.</p>
				<p>If the simple mode is turned off, the user has the full control about which items channels are linked to. Existing links will remain untouched.</p>
			]]>
			</description>
			<default>true</default>
		</parameter>
	</config-description>

	<config-description uri="system:firmware-status-info-job">
		<parameter name="period" type="integer" min="1" required="true">
			<label>Period</label>
			<description>The period between successive firmware status info job execution.</description>
		</parameter>
		<parameter name="delay" type="integer" min="0" required="true">
			<label>Delay</label>
			<description>The time to delay the first firmware status info job execution.</description>
		</parameter>
		<parameter name="timeUnit" type="text" required="true">
			<label>Time unit</label>
			<description>The time unit of the firmware status info job execution.</description>
			<options>
				<option value="SECONDS">Seconds</option>
				<option value="MINUTES">Minutes</option>
				<option value="HOURS">Hours</option>
				<option value="DAYS">Days</option>
			</options>
		</parameter>
	</config-description>

</config-description:config-descriptions>
