<!DOCTYPE html>
<html lang="${locale}">
<head>

<meta charset="utf-8" />
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>openHAB - ${setup.subtitle}</title>
<link type="text/css" href="fonts/icomoon.css" rel="stylesheet" media="all">
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"></link>
<link type="text/css" href="css/main.css" rel="stylesheet"></link>
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"><link>
</head>

<body>
    <header>
        <div class="container">
            <img src="img/openhab-logo.png" />
        </div>
    </header>
    <section class="container">
        <h1>${setup.welcome}</h1>
        <div class="line">
            <div class="decorator"></div>
            <div>
                <p><br/>${setup.intro}
                <br/>${setup.check-doc}</p>
                <hr />
                <p><b>${setup.choose-package}</b></p>
            </div>
        </div>
        <div class="links row">
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=simple'">    
                    <div class="body" style="background-image: url('img/simple.jpg')">
                        <div class="overlay">
                            ${setup.package-simple-overlay}
                        </div>
                    </div>
                    <div class="footer">
                        <p>${setup.package-simple-footer}</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=standard'">    
                    <div class="body" style="background-image: url('img/standard.jpg')">
                        <div class="overlay">
                            ${setup.package-standard-overlay}
                        </div>
                    </div>
                    <div class="footer">
                        <p>${setup.package-standard-footer}</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=expert'">    
                    <div class="body" style="background-image: url('img/expert.jpg')">
                        <div class="overlay">
                            ${setup.package-expert-overlay}
                        </div>
                    </div>
                    <div class="footer">
                        <p>${setup.package-expert-footer}</p>
                    </div>
                </div>
            </div>
            <div class="link-wrapper col-md-3 col-sm-6 col-xs-6">
                <div class="link" onclick="location.href = 'index?type=demo'">    
                    <div class="body" style="background-image: url('img/demo.jpg')">
                        <div class="overlay">
                            ${setup.package-demo-overlay}
                        </div>
                    </div>
                    <div class="footer">
                        <p>${setup.package-demo-footer}</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" onclick="location.href = 'index?type=minimal'">${setup.skip-package}</a>.  
        <div class="line">
            <div class="decorator"></div>
            <hr />
        </div>
        ${common.getting-started}
    </section>
    <footer>
        <p>openHAB ${version}</p>
    </footer>
</body>
</html>
